/* .skillBody {
    background-color: #171717;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
  }
  
  .full__page {
    width: 100vw;
    height: 100vh;
  }
  
  .bar__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
    justify-content: space-between;
  

  }
  
  .bar {
    height: 1vh;
    background-color: red;
  }
  
  .animated__layers {
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 0;
  
  } */
  

  